extends ../layout
  
// block head
//   script(src="myfile.js")

block content
    h1 Welcome to #{title}
  
    p Other links:
    ul
        li 
            a(href='http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local') easy-node-authentication-setup-and-local
        li 
            a(href='http://danialk.github.io/blog/2013/02/23/authentication-using-passportjs/') authentication-using-passportjs
        li 
            a(href='http://stackoverflow.com/questions/14943686/best-way-to-setup-locomotivejs-with-passport-twitter') best-way-to-setup-locomotivejs-with-passport-twitter
        li 
            a(href='https://github.com/Turbo87/locomotive-passport-boilerplate/blob/master/config/routes.js') locomotive-passport-boilerplate
