doctype html
html
  head
    title 2Gather - laboratory.
    // block head
    //script(src="myfile.js")
    stylesheet(src="/stylesheets/screen.css")
  body
    header
      h3 2Gather Labs
      hr
    #content
      block content
    footer
      hr
      p 2014.